.scroll-stack-scroller {
  position: relative;
  width: 100%;
  height: auto;
  overflow: visible; 
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: scroll-position;
  z-index: 5;
}

/* Ocultar barra en Chrome/Safari/Brave */
.scroll-stack-scroller::-webkit-scrollbar {
  display: none;
}

.scroll-stack-inner {
  padding: 50px 20px 170px;
  min-height: 100vh;
  overflow: visible;
}

.scroll-stack-card-wrapper {
  position: relative;
}

.scroll-stack-card {
  transform-origin: top center;
  will-change: transform, filter;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  box-shadow: none;
  height: 20rem;
  width: 100%;
  margin: 30px 0;
  padding: 3rem;
  border-radius: 40px;
  box-sizing: border-box;
  /* Improve mobile performance */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: relative;
}

.scroll-stack-end {
  width: 100%;
  height: 1px;
}
