.contacto-section-wrapper {
  width: 100%;
  min-height: auto; /* Obligatorio para que ocupe toda la pantalla al anclarse */
  display: flex;
  justify-content: center;
  padding: 80px 15px 50px;
  position: relative;
  background-color: var(--white-iris);
  z-index: 2;
}

.contacto-grid {
  display: grid;
  /* Aquí está la magia: divide el espacio en dos columnas iguales */
  grid-template-columns: 1fr 1fr; 
  gap: 60px; /* Espacio generoso entre el formulario y la ruta */
  max-width: 1300px; /* Mantiene el diseño recogido en pantallas gigantes */
  margin: 0 auto; /* Centra el grid en la pantalla */
  align-items: start; /* Hace que ambos bloques empiecen alineados por arriba */
}

@media (max-width: 1024px) {
  .contacto-section-wrapper {
    padding: 20px 15px 30px !important; /* Ajuste para tablet y móvil */
  }
  
  .contacto-grid {
    /* Pasamos a una sola columna para tablet y móvil */
    grid-template-columns: 1fr; 
    gap: 60px; 
    padding: 0 0px; /* Si quieres darle un poco de aire lateral en tablet, prueba con padding: 0 20px; */
  }
  
  /* El Formulario (1er hijo) lo mandamos al final */
  .contacto-grid > *:nth-child(1) { 
    order: 2; 
  }

  /* La Ruta de Trabajo (2do hijo) la subimos al principio */
  .contacto-grid > *:nth-child(2) { 
    order: 1; 
  }
}

@media (max-width: 768px) {
  .contacto-section-wrapper {
    padding: 50px 15px 10px !important;
  }

  .contacto-grid {
    /* Pasamos a una sola columna */
    grid-template-columns: 1fr; 
    gap: 40px; 
    padding: 0 0px;
  }
  
  /* El Formulario (1er hijo) lo mandamos al final */
  .contacto-grid > *:nth-child(1) { 
    order: 2; 
  }

  /* La Ruta de Trabajo (2do hijo) la subimos al principio */
  .contacto-grid > *:nth-child(2) { 
    order: 1; 
  }
}